@import "utils/_contrast.scss";
@import "utils/_encode.scss";

// Theme colors
$light-theme: (
  primary-bg: #fcfcfc,
  primary-fg: #212529,
  inverse-fg: #ffffff,
  accent: #aa2431,
  accent-light: rgba(#aa2431, 0.75),
  accent-heavy: #631040,
  focus: #2b90d9,
  success: #5da271,
  danger: #c84630,
  warning: #ffcc00,
);

$dark-theme: (
  primary-bg: #212529,
  primary-fg: #fcfcfc,
  inverse-fg: #000000,
  accent: lighten(#aa2431, 40%),
  accent-light: fade-out(lighten(#aa2431, 40%), 0.35),
  accent-heavy: #631040,
  focus: #4ca6e6,
  success: #5da271,
  danger: #c84630,
  warning: #ffcc00,
);

// Theming helper -- change global value to change behavior of t helper
$active-theme: $light-theme; 
@function t($key) {
    @return map-get($active-theme, $key);
}

// Convert to CSS variables for ease of switching
@mixin apply-theme($theme) {
    $active-theme: $theme !global;

    // Common derived colors
    $secondary-bg: choose-contrast-color(
        t('primary-bg'),
        $light: scale-color(t('primary-bg'), $lightness: 20%),
        $dark: scale-color(t('primary-bg'), $lightness: -20%),
    );    
    $secondary-fg: rgba(t('primary-fg'), 0.8);
    $accent-fg: choose-contrast-color(
        t('accent'),
        $light: t('inverse-fg'),
        $dark: t('primary-fg'),
    );
    $accent-heavy-fg: choose-contrast-color(
        t('accent-heavy'),
        $light: t('inverse-fg'),
        $dark: t('primary-fg'),
    );
    $accent-heavy-hover: scale-color(#631040, $saturation: 100%);
    $border: rgba(t('primary-fg'), 0.25);
    $border-dark: scale-color($border, $lightness: -10%);

    // Colors
    --primary-bg: #{t('primary-bg')};
    --primary-fg: #{t('primary-fg')};
    --secondary-bg: #{$secondary-bg};
    --secondary-fg: #{$secondary-fg};

    --input-bg: #{scale-color(t('primary-bg'), $lightness: 10%)};
    --input-disabled-bg: #{$secondary-bg};

    --button-primary-bg: #{t('accent-heavy')};
    --button-primary-fg: #{$accent-heavy-fg};
    --button-primary-border: #{t('accent-heavy')};
    --button-primary-hover-bg: #{$accent-heavy-hover};
    --button-primary-hover-fg: #{$accent-heavy-fg};
    --button-primary-hover-border: #{t('accent-heavy')};

    --button-secondary-bg: #{rgba(t('inverse-fg'), 0.2)};
    --button-secondary-fg: #{t('primary-fg')};
    --button-secondary-border: #{$border};
    --button-secondary-hover-bg: #{rgba(t('inverse-fg'), 0.5)};
    --button-secondary-hover-fg: #{t('primary-fg')};
    --button-secondary-hover-border: #{$border-dark};

    --button-disabled-bg: #{$secondary-bg};
    --button-disabled-fg: #{t('primary-fg')};
    --button-disabled-border: #{$secondary-bg};

    --checkbox-unchecked-bg: #{$secondary-bg};
    --checkbox-checked-bg: #{t('accent')};
    --checkbox-checked-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40 "><polyline points="5 20 15 30 35 10" fill="none" stroke="#{encode-color($accent-fg)}" stroke-width="4px" /></svg>');
    --checkbox-disabled-bg: #{$secondary-fg};

    --link-color: #{t('accent')};
    --link-light: #{t('accent-light')};

    --progress-fg: #{t('success')};
    --progress-bg: #{$secondary-bg};
    --progress-shimmer-fg: #{choose-contrast-color(
        $secondary-bg,
        $light: scale-color($secondary-bg, $lightness: 10%),
        $dark: scale-color($secondary-bg, $lightness: -10%),
    )};

    --meter-bg: #{$secondary-bg};
    --meter-optimum-fg: #{t('success')};
    --meter-warning-fg: #{t('warning')};
    --meter-danger-fg: #{t('danger')};

    --radio-unchecked-bg: #{$secondary-bg};
    --radio-checked-bg: #{t('accent')};
    --radio-checked-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40 "><circle cx="20" cy="20" r="15" fill="#{encode-color($accent-fg)}" /></svg>');
    --radio-disabled-bg: #{rgba(#212529, 0.35)};

    --select-caret-bg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 25"><polyline points="2 2 20 20 38 2" fill="none" stroke="#{encode-color(t('primary-fg'))}" stroke-width="4px" /></svg>');

    --slider-thumb-color: #{t('accent')};
    --slider-track-color: #{$secondary-bg};

    --focus-color: #{t('focus')};
    --focus-shadow: #{rgba(t('focus'), 0.35)};

    --error-color: #{t('danger')};
    --error-shadow: #{rgba(t('danger'), 0.35)};

    --highlight-bg: #{t('warning')};
    --border-color: #{$border};
}

// CSS variables (light mode)
:root {
    // Colors
    @include apply-theme($light-theme);

    // Font sizes
    --font-size-sm: 0.85rem;
    --font-size-md: 1rem;
    --input-height-md: 2.375rem;

    // Line-spacing / spacing between elements
    --spacing-sm: 0.25rem;
    --spacing-md: 0.75rem;
    --spacing-lg: 2.25rem;
    --spacing-xl: 4.5rem;

    // Padding within elements
    --padding-base: 1rem;
    --padding-input-v: 0.33rem;
    --padding-input-h: 0.66rem;

    // Controls max-size of main, section, articles, etc.
    --max-content-width: 1024px;

    // Box styling
    --border-radius: 4px;

    // Default animation duration
    --animation-duration: 4s;
}

@media (prefers-color-scheme: dark) {
  :root {
      @include apply-theme($dark-theme);
  }
}
