// Base styling for side-wide markup + content
html, body { 
    font-family: $font-family;
    line-height: $line-height-base;
}

* {
    box-sizing: border-box;
}

body { 
    @include themed() {
        background: t('primary-bg');
        color: t('primary-fg');
    }
}

main {
    padding: $padding-md; 
    @media only screen and (min-width: $desktop-min-width) {
        padding: $padding-xl $padding-lg;
    }
}

// Tiny bit of min spacing between elements
* + * {
    margin-top: $spacing-sm;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: $line-height-heading;
}

p { 
    margin-bottom: 0;
}

* + p {
    margin-top: $spacing-base;
}

a {
    @include themed() {
        color: t('link-color');
        text-decoration: underline dotted t('link-light');

        &:hover, &:focus { 
            text-decoration: underline solid t('link-color');
        }
    }
    
    &:active {
        position: relative;
        top: 1px;
    }
}
