// For implementing dark mode / light mode variants of things
// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995

// This helper sets and resets a global theme map for some given content
@mixin theme($theme) {
    $theme-map: () !global;
    @each $key, $submap in $theme {
        $value: map-get($theme, '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
    }
    @content;
    $theme-map: null !global;
}

// Implements both dark mode and light mode
@mixin themed() {
    @include theme($light-theme) {
        @content;
    }

    @media (prefers-color-scheme: dark) {
        @include theme($dark-theme) {
            @content;
        }
    }
}

// Helper to access $theme-map vars from within themed context
@function t($key) {
    @return map-get($theme-map, $key);
}
